Fonts
:root {
  /* --default-font: "Roboto", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    --default-font: "Roboto";
    --heading-font: "Noto Sans", "Noto Sans";
    --nav-font: "Poppins", sans-serif;
}

/* Global Colors */
:root {
    --background-color: #ffffff;
    /* Background color for the entire website, including individual sections */
    --default-color: #000000;
    /* Default color used for the majority of the text content across the entire website */
    --heading-color: #ffffff;
    /* Color for headings, subheadings and title throughout the website */
    --accent-color: #1b7f15;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */

/*  Nav Menu Colors  */
--color: rgba(30, 30, 30);
--bgColor: rgba(245, 245, 245);
    --nav-color: #5e5e5e;
    /* The default color of the main navmenu links */
    --nav-hover-color: #1b7f15;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #000000;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #1b7f15;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

body {
    color: var(--default-color);
    background-color: var(--default-color);
    font-family: var(--default-font);
    background: rgb(215,169,128);
    position: relative;
    overflow-x:hidden;
    background: var(--background-color);
}



a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
}



  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: auto;
    height: auto;
    position: relative;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
#bgImag {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: auto;
    /* overflow-y: auto; */
    object-fit: fill;
    z-index: -2;
  }
  
  .hero:before {
    content: "";
    /* background: color-mix(in srgb, var(--background-color), transparent 30%); */
    position: relative;
    inset: 0;
    z-index: 2;
  }
  
  .hero .container {
    z-index: 3;
  }
  
  .hero h2 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    color: #000000;
  }
  
  .hero p {
    margin: 5px 0 0 0;
    font-size: 26px;
  }
  .hero #changingPara {
    margin: 5px 0 0 0;
    font-size: 26px;
    font-weight: 500;
  }
  
  .hero .image-container {
    position: relative;
    text-align: center; /* Center the image */
    top: -120px; /* Add spacing above the image */
    float: right;
    right: 100px;
}

.hero .custom-image {
    width: 200px; /* Adjust the width as per your needs */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

  .hero p span {
    letter-spacing: 1px;
    /* border-bottom: 2px solid var(--accent-color); */
  }
  
  .hero .social-links,.contact .social-links {
    margin-top: 25px;
  }
  
  .hero .social-links a,.contact .social-links a {
    font-size: 20px;
    display: inline-block;
    color: color-mix(in srgb, rgb(24, 24, 24),transparent 30%);
    line-height: 1;
    transition: 0.3s;
  }
  
  .hero .social-links a:hover,.contact .social-links a:hover {
    color: var(--accent-color);
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      color: #000000;
      font-size: 32px;
    }
  
    .hero p {
      font-size: 20px;
    }
  }

  .hero #inTro_Para{
    padding-top: 5px;
    font-size: 16px;
    color: rgb(24, 24, 24);
    opacity: 0.9;
    word-spacing: 3px;
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  color: #1b7f15;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb,#1b7f15, transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background:#1b7f15;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
  color: #000000;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h2 {
  font-weight: 700;
  font-size: 24px;
  color: #1b7f15;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}


.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  line-height: 0;
}
#education {
  height: auto;
  padding-bottom: 10%;
  /* overflow: hidden; */
}
.vertical-line {
  width: 4px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: -20;
}
.dot {
  width: 12px;
  height: 12px;
  background-color: #1b7f15;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .vertical-line {
    width: 4px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: -200;
  }
#gtc{
  top: -8%;
  z-index: 100;
}

#macet{
  top: 7%;
  z-index: 100;
}

#secondary{
  top: 30%;
  z-index: 100;
}
#nyeste{
  top: 15%;
  z-index: 100;
}

#hrsec{
  top: 40%;
  z-index: 100;
}
#hrsecdot{
  top:120%;
  z-index: 300;
}
 
}

.projDetails {
  text-align: left;
  font-style: italic;
  width: 100%;
  padding: 10px;
}

.projDetails span {
  display: block;
  text-align: left;
  width: 100%;
}


/* image scroll */
.card-body {
  overflow: hidden; /* Ensures text doesn't spill out */
  position: relative;
  width: 100%; /* Adjusts to card body width */
}

.scrolling-about {
  white-space: nowrap;
  display: inline-block;
  font-size: 1.2em;
  animation: scrollText 20s linear infinite; /* Slower scrolling speed */
}

@keyframes scrollText {
  0% { transform: translateX(0); } /* Start from the left of the container */
  100% { transform: translateX(-50%); } /* Move to the left until the middle of the duplicated text */
}

/* carousal */

.we-carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.we-card-container {
  width:400px;
  height: 400px;
  position: relative;
}

.we-card {
  width: 400px;
  height: 00px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
  filter: none;
}

.we-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.we-card p {
  color: #555;
}

.we-card.active {
  opacity: 1;
  z-index: 2;
  transform: translateX(0);
}

.we-card.prev-1,
.we-card.next-1 {
  opacity: 0.5;
  filter: blur(4px);
  z-index: 1;
}

.we-card.prev-2,
.we-card.next-2 {
  opacity: 0.2;
  filter: blur(6px);
  z-index: 1;
}

.we-card.prev-3,
.we-card.next-3 {
  opacity: 0;
}

.we-card.prev-1 {
  transform: translateX(-230px) rotate(-10deg) translateY(20px);
}

.we-card.next-1 {
  transform: translateX(230px) rotate(10deg) translateY(20px);
}

.we-card.prev-2 {
  transform: translateX(-483px) rotate(-20deg) translateY(80px);
}

.we-card.next-2 {
  transform: translateX(483px) rotate(20deg) translateY(80px);
}

.we-card.prev-3 {
  transform: translateX(-697px) rotate(-30deg) translateY(172px);
}

.we-card.next-3 {
  transform: translateX(697px) rotate(30deg) translateY(172px);
}

.we-arrow {
  font-size: 45px;
  cursor: pointer;
  user-select: none;
  color: #000;
  padding: 20px;
  z-index: 20;
}

.we-arrow:hover {
  color: #555;
}


/* for scroll */
.stack {

  height: 100%;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: toTheLeft 30s infinite linear;
  z-index: -2;

}


/* timeline */
.eduExp h1 {
  text-align: center;
}

.eduExp ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
.eduExp ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.eduExp ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.eduExp ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.eduExp ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  
  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.eduExp ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.eduExp ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.eduExp ul li .title,
.eduExp ul li .descr {
  background:white;
  position: relative;
  padding-inline: 1.5rem;
}
.eduExp ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.eduExp ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.eduExp ul li .title::before,
.eduExp ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.eduExp ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

.eduExp ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .eduExp ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .eduExp ul::before {
    grid-column: 2;
  }
  .eduExp ul li:nth-child(odd) {
    grid-column: 1;
  }
  .eduExp ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .eduExp ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .eduExp ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .eduExp ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .eduExp ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}


/* ------------------------------footer-------------------------------------- */

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style: none;
}

.footer {
  background-color: #ffffff;
}

.footer .footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer .footer-col h4 {
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer .footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #1b7f15;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover {
  color: #1b7f15;
  padding-left: 8px;
}

.footer .footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer .footer-col .social-links a:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .footer .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer .footer-col {
      width: 100%;
  }
}
