:root {
     --default-font: "Roboto", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
      --heading-font: "Noto Sans", "Noto Sans";
      --nav-font: "Poppins", sans-serif;
  }
  
  /* Global Colors */
  :root {
      --background-color: #ffffff;
      --default-color: #000000;
      --heading-color: #ffffff;
      --accent-color: #1b7f15;
      --surface-color: #ffffff;
      --contrast-color: #ffffff;
  
      --nav-color: #3b3b3b;
      --nav-hover-color: #1b7f15;
      --nav-mobile-background-color: #ffffff;
      --nav-dropdown-background-color: #ffffff;
      --nav-dropdown-color: #000000;
      --nav-dropdown-hover-color: #1b7f15;
  }
  

  .header {
    color: var(--default-color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    min-width: 200px;
  }
  
  @media (max-width: 1199px) {
    .header {
      background-color: var(--background-color);
      border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      /* width: 300px; */
      left: -100%;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1600px) {
    .header~main {
      margin-left: 160px;
    }
  
    .header~main .hero {
      margin-left: -160px;
      width: 100vw;
    }
  }
  
  .header.header-show {
    left: 0;
  }
  
  .header .header-toggle {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 12px;
    z-index: 9999;
    transition: background-color 0.3s;
  }
  
  .header .header-toggle:hover {
    color:rgb(0, 0, 0);
    background-color: white;
  }
 /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navmenu {
    padding: 0;
    z-index: 9997;
  }
  .navmenu a {
    text-decoration: none;
  }
  .navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    width: 140px;
  }
  
  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: color-mix(in srgb, white, transparent 50%);
    height: 56px;
    width: 80%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .navmenu a i,
  .navmenu a:focus i {
    font-size: 20px;
  }
  
  .navmenu a span,
  .navmenu a:focus span {
    padding: 0 5px 0 7px;
  }
  
  @media (min-width: 992px) {
  
    .navmenu a,
    .navmenu a:focus {
      max-width: 56px;
    }
  
    .navmenu a span,
    .navmenu a:focus span {
      display: none;
    }
  }
  
  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus,
  .navmenu li:hover>a {
    color: var(--contrast-color);
    background: var(--nav-hover-color);
  }
  
  .navmenu a:hover,
  .navmenu li:hover>a {
    max-width: 100%;
    color: var(--contrast-color);
  }
  
  .navmenu a:hover span,
  .navmenu li:hover>a span {
    display: block;
  }
  